[submodule "kaldi"]
	path = third_party/kaldi/submodule
	url = https://github.com/kaldi-asr/kaldi
	ignore = dirty
[submodule "submodule"]
	path = third_party/kenlm/submodule
	url = https://github.com/kpu/kenlm
[submodule "third_party/boost/thread"]
	path = third_party/boost/thread
	url = https://github.com/boostorg/thread
[submodule "third_party/boost/config"]
	path = third_party/boost/config
	url = https://github.com/boostorg/config
