torch>=1.2.0

# Optional for torchaudio.kaldi_io
numpy
kaldi_io

# Required for tests only:

# Style-checking for PEP8
flake8

# Used for comparison of outputs in tests
librosa>=0.4.3
scipy

# Unit tests with pytest
pytest

# Testing only Py3 compat
backports.tempfile

requests
