# Optional for torchaudio.kaldi_io
numpy
kaldi_io

# Required for tests only:

# Style-checking for PEP8
flake8

# Run unit tests
pytest

# Lets pytest find our code by automatically modifying PYTHONPATH
pytest-pythonpath

# Coverage statistics
pytest-cov
codecov

# Used for comparison of outputs in tests
librosa
scipy

# Parallel tests
pytest-forked
