version: 2.1

# How to test the Linux jobs:
#   - Install CircleCI local CLI: https://circleci.com/docs/2.0/local-cli/
#   - circleci config process .circleci/config.yml > gen.yml && circleci local execute -c gen.yml --job binary_linux_wheel
#     - Replace binary_linux_wheel with the name of the job you want to test

binary_common: &binary_common
  parameters:
    build_version:
      description: "version number of release binary; by default, build a nightly"
      type: string
      default: ""
    pytorch_version:
      description: "PyTorch version to build against; by default, use a nightly"
      type: string
      default: ""
    python_version:
      description: "Python version to build against (e.g., 3.7)"
      type: string
    unicode_abi:
      description: "Python 2.7 wheel only: whether or not we are cp27mu (default: no)"
      type: string
      default: ""
  environment:
    PYTHON_VERSION: << parameters.python_version >>
    BUILD_VERSION: << parameters.build_version >>
    PYTORCH_VERSION: << parameters.pytorch_version >>
    UNICODE_ABI: << parameters.unicode_abi >>

jobs:
  binary_linux_wheel:
    <<: *binary_common
    docker:
      - image: "soumith/manylinux-cuda100"
    resource_class: 2xlarge+
    steps:
      - checkout
      - run: packaging/build_wheel.sh
      - store_artifacts:
          path: dist

  binary_linux_conda:
    <<: *binary_common
    docker:
      - image: "soumith/conda-cuda"
    resource_class: 2xlarge+
    steps:
      - checkout
      - run: packaging/conda/build_audio.sh
      - store_artifacts:
          path: /opt/conda/conda-bld/linux-64

  binary_macos_wheel:
    <<: *binary_common
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run:
          command: |
            curl -o conda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
            sh conda.sh -b
            source $HOME/miniconda3/bin/activate
            packaging/wheel/osx_wheel.sh
      - store_artifacts:
          path: /Users/distiller/torchaudio_wheels

  binary_macos_conda:
    <<: *binary_common
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run:
          command: |
            curl -o conda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
            sh conda.sh -b
            source $HOME/miniconda3/bin/activate
            conda install -yq conda-build
            build_tools/packaging/conda/build_audio.sh
      - store_artifacts:
          path: /Users/distiller/miniconda3/conda-bld/osx-64

release_parameters: &release_parameters
  version: "0.3.0"
  pytorch_version: "1.2.0"

workflows:
  build:
    jobs:
      - binary_linux_wheel:
          name: nightly_binary_linux_wheel_cp27m
          python_version: "2.7"
      - binary_linux_wheel:
          name: nightly_binary_linux_wheel_cp27mu
          python_version: "2.7"
          unicode_abi: "1"
      - binary_linux_wheel:
          name: nightly_binary_linux_wheel_cp35
          python_version: "3.5"
      - binary_linux_wheel:
          name: nightly_binary_linux_wheel_cp36
          python_version: "3.6"
      - binary_linux_wheel:
          name: nightly_binary_linux_wheel_cp37
          python_version: "3.7"
#     - binary_linux_conda:
#         name: nightly_binary_linux_conda
      - binary_macos_wheel:
          name: nightly_binary_macos_wheel_cp27m
          python_version: "2.7"
      - binary_macos_wheel:
          name: nightly_binary_macos_wheel_cp27mu
          python_version: "2.7"
          unicode_abi: "1"
      - binary_macos_wheel:
          name: nightly_binary_macos_wheel_cp35
          python_version: "3.5"
      - binary_macos_wheel:
          name: nightly_binary_macos_wheel_cp36
          python_version: "3.6"
      - binary_macos_wheel:
          name: nightly_binary_macos_wheel_cp37
          python_version: "3.7"
#     - binary_macos_conda:
#         name: nightly_binary_macos_conda

# release:
#   jobs:
#     - binary_linux_wheel:
#         <<: *release_parameters
#         name: release_binary_linux_wheel
#     - binary_linux_conda:
#         <<: *release_parameters
#         name: release_binary_linux_conda
#     - binary_macos_wheel:
#         <<: *release_parameters
#         name: release_binary_macos_wheel
#     - binary_macos_conda:
#         <<: *release_parameters
#         name: release_binary_macos_conda
