/* https://github.com/sphinx-doc/sphinx/issues/1514#issuecomment-742703082 */
/* Newlines (\a) and spaces (\20) before each parameter */
dt > em.sig-param:before {
    content: "\a\20\20\20\20";
    white-space: pre;
}
/* Newline after the last parameter (so the closing bracket is on a new line) */
dt > em.sig-param:last-of-type::after {
    content: "\a";
    white-space: pre;
}
/* For shields */
article.pytorch-article img.shield-badge {
    width: unset;
    margin-top: -18px;
    margin-bottom: 9px;
}
